@charset "UTF-8";
main{
    display: flex;
    justify-content: space-between;
}

main section{
    display: flex;
    justify-content: center;
    padding: 20px;
}

main section div div button{
    margin-top: 20px;
}

main aside{
    background-color: red;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    padding: 20px;
}


